.product-list-container {
  display: flex;
  flex-direction: column;
  padding: 0px 80px;
  width: 100%;
}

.category-name {
  font-size: 42px;
  margin: 45px 0;
  margin-left: 20px;
}

.product-items-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.layout {
}
