.cart-overlay-container {
  position: absolute;
  top: 100%;
  right: 50px;
  width: 325px;
  max-height: 677px;
  padding: 32px 16px;
  background-color: #fff;
  z-index: 1;
  cursor: default;
  overflow-y: auto;
}

.header {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 32px;
}
.header .bag {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
}

.total-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 43px 0 32px;
}

.total-header {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.price {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
}

.actions-container {
  display: flex;
  width: 100%;
}

.actions-container button {
  width: 140px;
  height: 43px;
  text-align: center;
  white-space: nowrap;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.view-bag-button {
  padding: 13px 36px !important;
  background-color: white !important;
  color: black !important;
  border: solid 1px #000 !important;
  margin-right: 12px !important;
}

.checkout-button {
  padding: 13px 29.5px !important;
}

.checkout-button:disabled {
  opacity: 0.5;
  cursor: default;
}

.empty-cart {
  margin: 92px 0;
  font-weight: 500;
  font-size: 20px;
  opacity: 0.6;
  text-align: center;
}
