:root {
  --active-color: #5ece7b;
  --hover-color: #ff4800;
}

.nav-bar-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 80px;
  width: 100%;
  margin-bottom: 20px;
  z-index: 1;
  background-color: #fff;
}

.container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 33%;
}

.categories-container {
  margin-left: 60px;
}

.category {
  display: flex;
  align-items: center;
  height: 100%;
  font-weight: 400;
  font-size: 16px;
  padding: 0 15px;
  margin: 0 20px;
  cursor: pointer;
}

.category:hover {
  color: var(--hover-color);
}

.category-active {
  font-weight: 600;
  color: var(--active-color);
  border-bottom: solid 2px var(--active-color);
}

.category-active:hover {
  color: var(--active-color) !important;
}

.web-app-logo-container {
  justify-content: center;
}

.web-app-logo-container svg {
  cursor: pointer;
}

.actions-container {
  justify-content: flex-end;
  margin-right: 60px;
}

.action {
  position: relative;
  display: flex;
  font-weight: 500;
  font-size: 18px;
  margin: 0 10px;
  cursor: pointer;
}

/* special cases added to match design */
.action span {
  display: inline-block;
  transform: translate(4px, -2px);
}

.flip-symbol {
  transform: translate(4px, 5px) rotate(180deg) !important;
}

.action g {
  fill: #43464e;
}

.action:hover,
.action:hover span,
.action:hover g {
  color: var(--hover-color);
  fill: var(--hover-color);
}

.category,
.action,
.action span,
.action g {
  transition: color 350ms, fill 150ms;
}
