.images-container {
  width: 8%;
  margin: 0 25px;
}

.image-select-container {
  width: 100%;
  overflow: hidden;
  margin-bottom: 40px;
  aspect-ratio: 1 / 1;
}

.image-select-container img {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.main-image-container {
  width: 50%;
  overflow: hidden;
}

.main-image-container img {
  width: 100%;
  object-fit: contain;
}
