.description-list-container {
  width: 25%;
  max-height: 70vh;
  margin: 0 100px;
  margin-right: 0;
  overflow: auto;
}

.brand {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 16px;
}

.name {
  font-size: 30px;
}

.attributes-main-container {
  padding-top: 19px;
  margin-bottom: 24px;
}

.attribute-container {
  margin: 24px 0 12px;
}

.detail-title {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 8px;
}

.attribute-select-container {
  display: flex;
  margin-top: 8px;
}

.text-attr-select {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 45px;
  width: 20%;
  border: solid 1px #1d1f22;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}

.text-attr-select:not(:last-child) {
  margin-right: 6.6%;
}

.swatch-attr-select {
  height: 32px;
  width: 32px;
  margin: 2px 10px 2px 0;
}

.price-container {
  margin-top: 36px;
}

.price {
  font-weight: 700;
  font-size: 24px;
  margin: 16px 0;
}

.button {
  width: 100%;
  margin: 20px 0;
}

.out-of-stock-button {
  background-color: white !important;
  color: #1d1f22 !important;
  border: solid 1px #1d1f22 !important;
  opacity: 0.5;
  cursor: default !important;
}

.description-container,
.description-container * {
  font-family: "Roboto", sans-serif;
  line-height: 26px;
  font-size: 16px;
  margin-top: 20px;
}
